<div class="content" role="main">

  <div class="">
    <span class="header" (click)="headerSpeak()">{{ title }}</span>

    <span class="help" (click)="helpMe()">Hjælp</span>

    <div class="input-area">
      <button class="listen-button" (click)="sayWordToSpell()">Hør</button>

      <label>
        <input class="input-field" [(ngModel)]="enteredText" (keyup.enter)="testEquality()">
      </label>

      <button class="answer-button" (click)="testEquality()">?</button>

      <button class="give-up-button" (click)="giveUp()">¯\_(ツ)_/¯</button>
    </div>

    <span class="status-area">Antal rigtige: {{ bullsEyes }}</span>
  </div>
</div>
