<div class="content" role="main">

  <div class="">
    <span class="header" (click)="headerSpeak()">{{ title }}</span>

    <span class="help" (click)="helpMe()">Hjælp</span>

    <div class="input-area">
      <button class="listen-button" (click)="sayWordToSpell()">Hør</button>

      <label>
        <input class="input-field" #enteredText (keyup.enter)="testEquality(enteredText.value)">
      </label>

      <button class="answer-button" (click)="testEquality(enteredText.value)">?</button>
    </div>
  </div>
</div>
